*.log
*.zip
*.tar.gz
*.dat
*.csv
*.pkl
*.pyc
*.hdf5
*.txt
*.ckpt
*.svg
runs
*.summary
*.egg-info
*.pt
.vscode
.idea
.idea_copy
retro_planner/packages/rxn_filter/rxn_filter/data/from_aizynthfinder_new_self/gen_neg_data_sever.yml
retro_planner/packages/rxn_filter/rxn_filter/data/from_aizynthfinder_new_self/gen_neg_data.yml
retro_planner/packages/rxn_filter/rxn_filter/data/roc.svg
retro_planner/packages/rxn_filter/rxn_filter/train_filter_benchmark.py
classic_retrosyn
results
results copy
retro_planner/test.pdf
retro_planner/test
retro_planner/building_block_dataset/zinc_stock_2021_10_3_canonical_smiles_total_10312151.md
*.png
*.jpg
!webapp/static/figure/*.png
!webapp/static/figure/*.svg
!webapp/static/figure/*.png
!webapp/static/figure/*.jpg
!images/*
.VSCodeCounter
retro_planner/nohup.out
!retro_planner/test_data/uspto_190_route_target_mol.csv
algorithm_test/*
retro_planner/viz_search
!retro_planner/test_data/n1-targets.csv
!retro_planner/test_data/n5-targets.csv
!retro_planner/test_data/n1-targets_sample_500.csv
!retro_planner/test_data/n5-targets_sample_500.csv
retro_planner/packages/rxn_filter/rxn_filter/data/data_script/test_rxnfp_drfp.py
retro_planner/packages/rxn_filter/rxn_filter/model/*.yaml
retro_planner/packages/condition_predictor/condition_predictor/data
*/.git
retro_planner/packages/organic_enzyme_rxn_classifier/organic_enzyme_rxn_classifier/checkpoints
retro_planner/packages/easifa/easifa/checkpoints
retro_planner/packages/easifa/easifa/interface/pdb_cache/*
.ipynb_checkpoints
*/.ipynb_checkpoints
webapp/nohup.out
webapp/jobs.db
dump.rdb
webapp/data/enzyme_structures/*
retro_planner/test_data/test_pipline/curl_script.sh
retro_planner/packages/easifa/easifa/interface/chebi
retro_planner/packages/easifa/easifa/interface/uniprot_json
retro_planner/packages/easifa/easifa/interface/uniprot_rxn
retro_planner/test_data/test_pipline
retro_planner/packages/organic_enzyme_rxn_classifier/organic_enzyme_rxn_classifier/dataset
retro_planner/packages/organic_enzyme_rxn_classifier/organic_enzyme_rxn_classifier/dataset_preprocess
*/nohup.out
metadata
singularity/singularity_images
