{% extends "base.html" %}

<head>
    {% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/contact.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap"
        rel="stylesheet">
    {% endblock %}
</head>

<body>
    {% block content %}
    <div class="main-container">
        <p class="text-head">Contact Us</p>
        <!-- <p class="text-main">Innovation Institute for Artificial Intelligence in Medicine of Zhejiang
            University, College of Pharma-ceutical Sciences, Zhejiang University, Hangzhou, 310058, China.</p>
        <p class="text-main">Faculty of Applied Sciences, Macao Polytechnic University, Macao, 999078, China.</p> -->
        <p class="text-main">China.</p>
        <div class="img-container">
            <!-- <img src="../static/figure/contact-figure.jpg" class="img"  height="200" width="200">
            <img src="../static/figure/contact-figure.jpg" class="img"  height="200" width="200">
            <img src="../static/figure/contact-figure.jpg" class="img"  height="200" width="200"> -->
            <div style="height: 200px; width: 200px; border-radius: 25px; box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); margin: 5px; background-color: rgb(53, 53, 53);"></div>
            <div style="height: 200px; width: 200px; border-radius: 25px; box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); margin: 5px; background-color: rgb(128, 128, 128);"></div>
            <div style="height: 200px; width: 200px; border-radius: 25px; box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); margin: 5px; background-color: rgb(219, 219, 219);"></div>
        </div>


    </div>
    {% endblock %}
</body>