{% extends "base.html" %}

<head>
    {% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/contact.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap" rel="stylesheet">
    {% endblock %}
</head>

<body>
    {% block content %}
    <div class="main-container">
        <p class="text-head">Contact Us</p>
        <!-- <p class="text-main">College of Pharmaceutical Sciences, Zhejiang University, Hangzhou, 310058, China.</p> -->




        <div style="margin-top: 20px; text-align: left; max-width: 800px; margin-left: auto; margin-right: auto;">
            <p class="text-main"><strong>Prof. Tingjun Hou</strong></p>
            <p class="text-main">Email: tingjunhou@zju.edu.cn</p>
            <p class="text-main">Phone: +86-571-88208412</p>
            <p class="text-main">Address: College of Pharmaceutical Sciences, Zhejiang University, Hangzhou 310000, Zhejiang, China</p>

            <p class="text-main"><strong>Prof. Chang-Yu Hsieh</strong></p>
            <p class="text-main">Email: kimhsieh@zju.edu.cn</p>
            <p class="text-main">Address: College of Pharmaceutical Sciences, Zhejiang University, Hangzhou 310000, Zhejiang, China</p>

            <p class="text-main"><strong>Prof. Xiaojun Yao</strong></p>
            <p class="text-main">Email: xjyao@mpu.edu.mo</p>
            <p class="text-main">Address: Faculty of Applied Sciences, Macao Polytechnic University, Macao, 999078, China.</p>
            
            <p class="text-main"><strong>Dr. Xiaorui Wang</strong></p>
            <p class="text-main">Email: wangxr2018@lzu.edu.cn</p>
            <p class="text-main">Address: College of Pharmaceutical Sciences, Zhejiang University, Hangzhou 310000, Zhejiang, China</p>
        </div>

    </div>
    {% endblock %}
</body>
